[Unit]
Description=TimeEdit Proxy

[Service]
User=pi
WorkingDirectory=/home/pi/timeedit-proxy
ExecStart=/home/pi/venv/timeedit-proxy/bin/waitress-serve --port 7070 --call proxy:create_app

[Install]
WantedBy=multi-user.target